<% layout("/layouts/boilerplate") %>
<style>
    .listing-card img{
    height:220px;
    object-fit:cover;
}
.listing-card{
    margin-bottom: 1.5rem !important;
    overflow: hidden;
    margin-bottom: 2rem !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background: white;
}

.listing-card:hover{
    transform: translateY(-3px);
    transition: 0.3s;
}

.row.g-3{
    row-gap: 1.5rem;
}
.card-body{
    padding: 1rem;
}

.card-body a{
   height: 38px;
}
@media(max-width:768px){

    .listing-card{
        margin:0 !important;
    }

    .listing-card img{
        height:180px;
    }

    .card-body .d-flex{
        flex-direction:column;
    }

    .card-body .btn{
        width:50%;
    }
}
</style>

<h2 class="mt-3"> My Wishlist</h2>

<div class="row g-3">

    <% if(wishlist.length === 0) { %>

        <h4>No saved listings yet</h4>

    <% } %>

    <% for(let listing of wishlist) { %>
       <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card listing-card h-100  shadow-sm">

            <img
                src="<%= listing.image.url %>"
                class="card-img-top"
                alt="listing image"
            >

            <div class="card-body">

                <h5 class="card-title">
                    <%= listing.title %>
                </h5>

                <p class="card-text">
                    <%= listing.location %>
                </p>

                <p class="card-text">
                    &#8377;<%=listing.price.toLocaleString("en-IN")%>/night
                </p>
                <div class="d-flex gap-2 mt-3">
                <a
                    href="/listings/<%= listing._id %>"
                    class="btn btn-dark"
                >
                    View Listing
                </a>
                <form
                   action="/listings/wishlist/<%= listing._id %>?_method=DELETE"
                   method="POST"
                >

                <button class="btn btn-danger mb-3">
                       Remove
                </button>

                 </form>
                </div>
            </div>

        </div>
      </div>

    <% } %>

</div>