<% layout("/layouts/boilerplate") %>

<div class="container mt-4">

<h2>My Bookings</h2>

<div class="row">

<% bookings.forEach(booking=>{ %>

<div class="col-md-4 mb-4">

<div class="card h-100">

<img
src="<%= booking.listing.image.url %>"
class="card-img-top">

<div class="card-body">

<h5><%= booking.listing.title %></h5>

<p><%= booking.listing.location %></p>

<p>

Check In :

<%= booking.checkIn.toDateString() %>

</p>

<p>

Check Out :

<%= booking.checkOut.toDateString() %>

</p>

<p>

Guests :

<%= booking.guests %>

</p>

<p>

Status :

<span class="badge bg-success">

<%= booking.status %>

</span>

</p>
<form
action="/bookings/<%= booking._id %>/cancel?_method=PUT"
method="POST">

<button class="btn btn-danger w-100">

Cancel Booking

</button>

</form>
<a
href="/bookings/<%= booking._id %>"
class="btn btn-dark w-100">

View Details

</a>

</div>

</div>

</div>

<% }) %>

</div>

</div>